<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <a class="navbar-brand" href="/">Agenda</a>
    <div class="ml-auto">
      <% if(user) { %>
        <a class="btn btn-light mr-2" href="/contatos" role="button">Contatos</a>
        <a class="btn btn-danger" href="/login/sair" role="button">Sair</a>
      <% } else { %>
        <a class="btn btn-primary" href="/login" role="button">Acesse</a>
      <% } %>
    </div>
  </nav>