<%- include('includes/head'); %>

<%- include('includes/nav'); %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
        <div class="col-lg-8 my-5">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

          <div class="responsive-table my-2">
            <table class="table">
              
            </table>
          </div>

        </div>

        <div class="col-lg-2"></div>

    </div>
  </div>

<%- include('includes/footer'); %>
